backend/vector_store/*.sqlite3 filter=lfs diff=lfs merge=lfs -text
backend/vector_store/*.pkl filter=lfs diff=lfs merge=lfs -text
backend/vector_store/child_store/* filter=lfs diff=lfs merge=lfs -text
backend/vector_store/parent_store/* filter=lfs diff=lfs merge=lfs -text
backend/vector_store/child_store/chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
backend/vector_store/chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
